<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>JobTrack</title>
    @Styles.Render("~/css/styles.css")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>


    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="">JobTrack</a>
        @*<a class="navbar-brand ps-3" href="index.html">JobTrack</a>*@
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                @*<input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>*@
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    @*<li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>*@
                    <li><a class="dropdown-item" href="@Url.Action("LogOut", "User")">Logout</a></li>

                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        @*<div class="sb-sidenav-menu-heading">Core</div>*@
                        <a class="nav-link" href="">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        @*<div class="sb-sidenav-menu-heading">Interface</div>*@


                        @if (((string)Session["uaccess"]) == "Client(LE)")
                        {
                            @*<a class="nav-link collapsed" href="@Url.Action("LEAllIndex", "LE")">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                All Jobs
                            </a>
                            <a class="nav-link collapsed" href="@Url.Action("LEIndex", "LE")">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                My Job
                            </a>*@

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Jobs
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="@Url.Action("LEAllIndex", "LE")">All Jobs</a>
                                    <a class="nav-link" href="@Url.Action("LEIndex", "LE")">My Jobs</a>
                                </nav>
                            </div>
                        }
                        else if (((string)Session["uaccess"]) == "Straive(PE)")
                        {
                            <a class="nav-link collapsed" href="@Url.Action("PEAllIndex", "PE")">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                All Jobs
                            </a>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Jobs
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="@Url.Action("PEIndex", "PE")">My Jobs</a>
                                    <a class="nav-link" href="@Url.Action("PESTPIndex", "PE")">Create STP</a>
                                </nav>
                            </div>


                        }
                        else if (((string)Session["uaccess"]) == "Coding")
                        {
                            <a class="nav-link collapsed" href="@Url.Action("PEAllIndex", "PE")">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                All Jobs
                            </a>
                            <a class="nav-link collapsed" href="@Url.Action("CodingIndex", "Coding")">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                My Job
                            </a>
                        }
                        else if (((string)Session["uaccess"]) == "Coding(STP)")
                        {
                            <a class="nav-link collapsed" href="@Url.Action("PEAllIndex", "PE")">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                All Jobs
                            </a>
                            <a class="nav-link collapsed" href="@Url.Action("CodingSTPIndex", "CodingSTP")">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                My Job
                            </a>
                        }
                        else
                        {
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                My Jobs
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                        }

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                     @Session["uid"]
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">    
            <main>

                <div class="container body-content">
                    @*@RenderPage("~/Views/Shared/Error.cshtml")*@
                    <div class="bodyRender" style="padding-top: 15px;">
                        @RenderBody()
                    </div>
                </div>

            </main>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/js/scripts.js")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
