@model JobTrack_AUNZ.Models.User.UserRegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - JobTrack</title>

    @Styles.Render("~/css/styles.css")
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                                        @Html.LabelFor(model => model.FirstName)
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                                        @Html.LabelFor(model => model.LastName)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-floating mb-3">
                                                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                                @Html.LabelFor(model => model.EmailAddress)
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                                        @Html.LabelFor(model => model.UserName)
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        @Html.DropDownListFor(model => model.UserLevel, ViewBag.UserAccess as SelectList,"",  new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.UserLevel, "", new { @class = "text-danger" })
                                                        @Html.LabelFor(model => model.UserLevel)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                        @Html.LabelFor(model => model.Password)
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                        @Html.LabelFor(model => model.ConfirmPassword)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid" style="float: right;">
                                                    <input type="submit" value="Create Account" class="btn btn-primary" />
                                                    @*<a class="btn btn-primary btn-block" href="login.html">Create Account</a>*@
                                                </div>
                                                <div class="d-flex justify-content-between mt-4" style="float: left;">
                                                    <span>@Html.Raw(ViewBag.Showmsg)</span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small">
                                            <span>@Html.ActionLink("Have an account? Go to login", "Login")</span>
                                        </div>
                                    </div>

                                    @*<div class="card-footer text-center py-3">
                                        <div class="small"><a href="login.html">Have an account? Go to login</a></div>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

    }

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/js/scripts.js")


</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
