<style>
    #ask {
        color: red;
    }
</style>

@using (Html.BeginForm("LEAddJob", "LE", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal fade" id="CreateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-body">
                        <button type="button" id="closeModal" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Job</h4>
                    </div>
                </div>

                <div class="modal-body">
                    <table style="width: 100%; border-spacing: 5px; ">
                        <tr>
                            <td><h5><span id="ask">*</span> Required</h5></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="font-size: 12px;">Tier <span id="ask">*</span></label></td>
                            <td style="float: right;">
                                @Html.DropDownList("n_Tier", new List<SelectListItem>
                                {
                                   new SelectListItem{ Text="Tier 1", Value = "1" },
                                   new SelectListItem{ Text="Tier 2", Value = "2" },
                                   new SelectListItem{ Text="Tier 3", Value = "3" },
                                }, "--Select Tier--", new { @class = "form-control-input" })
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="font-size: 12px;">Product <span id="ask">*</span> </label></td>
                            <td style="float: right;">
                                @Html.DropDownList("n_product", ViewBag.Product as SelectList, "--Select Product--", new { @class = "form-control-input" })
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="font-size: 12px;">Service No. <span id="ask">*</span></label></td>
                            <td style="float: right;">@Html.TextBox("n_serviceno", null, new { @class = "form-control-input", @data_val = "true", @data_val_required = "Service No. is required" })</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="font-size: 12px;">Manuscript/Leg Title <span id="ask">*</span></label></td>
                            <td style="float: right;">@Html.TextBox("n_manucsript", null, new { @class = "form-control-input", @data_val = "true", @data_val_required = "Manuscript/Leg Title is required" })</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="font-size: 12px;">Target Press Date <span id="ask">*</span></label></td>
                            <td style="float: right;">@Html.TextBox("n_targetdate", null, new { @class = "form-control-input", @data_val = "true", @data_val_required = "Target Press Date is required" })</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="font-size: 12px;">Latup Attribution</label></td>
                            <td style="float: right;">@Html.TextBox("n_latup", null, new { @class = "form-control-input" })</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="font-size: 12px;">Date Received from Author</label></td>
                            <td style="float: right;">@Html.TextBox("n_datefromauthor", null, new { @class = "form-control-input datetimepicker" })</td>

                        </tr>
                        <tr>
                            <td><label class="control-label" style="font-size: 12px;">Update Type <span id="ask">*</span></label></td>
                            <td style="float: right;">
                                @Html.DropDownList("n_updatetype", ViewBag.UpdateType as SelectList, "--Select Update Type--", new { @class = "form-control-input" })
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="font-size: 12px;">Job Specific Instruction</label></td>
                            <td style="float: right;">@Html.TextBox("n_jobinstruction", null, new { @class = "form-control-input" })</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="font-size: 12px;">Task Type</label></td>
                            <td style="float: right;">@Html.TextBox("n_tasktype", null, new { @class = "form-control-input" })</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="font-size: 12px;">Copyedit - Due Date</label></td>
                            <td style="float: right;">@Html.TextBox("n_copyeditdue", null, new { @class = "form-control-input" })</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="font-size: 12px;">Coding - Due Date</label></td>
                            <td style="float: right;">@Html.TextBox("n_codingdue", null, new { @class = "form-control-input" })</td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="font-size: 12px;">Online - Due Date</label></td>
                            <td style="float: right;">@Html.TextBox("n_onlinedue", null, new { @class = "form-control-input" })</td>
                        </tr>

                    </table>
                </div>


                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button id="Createjob" type="button" class="btn btn-primary" data-toggle="modal">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}



@section scripts{

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $("#n_datefromauthor").datepicker();
        });

    </script>
}







