@{
    Layout = "~/Views/Shared/_layout.cshtml";
    if (Session["id"] == null)
    {
        Response.Redirect("~/User/Login");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>JobTrack</title>
    @Styles.Render("~/css/styles.css")
    @Styles.Render("~/Content/css")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    @Html.Partial("~/Views/Shared/_Dashboard.cshtml")
    <h3 class="mt-4">My Job</h3>
    <hr />
    <table id="inputTable" style="width: 100%; padding: 5px; padding-top: 15px;">
        <tr>
            <td style="width: 48%; ">
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#CreateModal" data-backdrop="static" data-keyboard="false" id="LENewJob">New Job</button>
            </td>
            <td>
                <span style="float: right; padding-right: 10px;">
                    <button id="jobsearch" class="btn btn-primary" type="button">Search</button>
                </span>
                <span style="float: right; padding-right: 10px;">
                    @Html.DropDownList("serviceno", (SelectList)ViewBag.Service, "Select one...", new { @class = "form-control-input", style = "width: auto;" })
                </span>
                <span style="float: right;">
                    <label class="control-label-s col-md-99" style="width: 110px; font-size: 14px">Service No.</label>
                </span>
                <span style="float: right; padding-right: 10px;">
                    @Html.DropDownList("product", (SelectList)ViewBag.Product, "Select one...", new { @class = "form-control-input", style = "width: auto;" })
                </span>
                <span style="float: right; padding-right: 10px;">
                    <label class="control-label-s col-md-99">Product</label>
                </span>

            </td>
        </tr>
    </table>

    <div class="parent-div" style="padding-top: 15px;">
        <div id="DivPlaceHolder" class="placeHolderDiv">
            @Html.Partial("LEManuscriptLevel")
            @Html.Partial("LECreateJob")
        </div>
    </div>

</body>
</html>



<!-- JS includes -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


<script type="text/javascript">
    $(document).ready(function () {
        $("#n_updatetype").on("change", function () {

            var url = '@Url.Action("GetTasks", "LE")' + "?selectedItem=" + $(this).val();
            $("#n_tasktype").load(url, function (data) {
                $('#n_tasktype').val(data.replace(/['"]+/g, ''));
            })

            var url = '@Url.Action("GetCopyedit", "LE")' + "?selectedItem=" + $(this).val();
            $("#n_copyeditdue").load(url, function (data) {
                $('#n_copyeditdue').val(data.replace(/['"]+/g, ''));
            })

            var url = '@Url.Action("GetCoding", "LE")' + "?selectedItem=" + $(this).val();
            $("#n_codingdue").load(url, function (data) {
                $('#n_codingdue').val(data.replace(/['"]+/g, ''));
            })

            var url = '@Url.Action("GetOnline", "LE")' + "?selectedItem=" + $(this).val();
            $("#n_onlinedue").load(url, function (data) {
                $('#n_onlinedue').val(data.replace(/['"]+/g, ''));
            })

        });

        $("body").on('click', '#Createjob', function () {
        var LECreateJobModel = {
            Tier: $('#n_Tier').val(),
            Product_id: $('#n_product').val(),
            ServiceNo: $('#n_serviceno').val(),
            Manuscript: $('#n_manucsript').val(),
            TargetDate: $('#n_targetdate').val(),
            LatupAttribution: $('#n_latup').val(),
            DateFromAuthor: $('#n_datefromauthor').val(),
            UpdateType_id: $('#n_updatetype').val(),
            JobSpecificInstruction: $('#n_jobinstruction').val(),
            TaskType: $('#n_tasktype').val(),
            CopyeditDueDate: $('#n_copyeditdue').val(),
            CodingDueDate: $('#n_codingdue').val(),
            OnlineDueDate: $('#n_onlinedue').val(),
        };

        if (LECreateJobModel.Tier.length <= 0) {
            alert("Tier is required");
            return false;
        }

        if (LECreateJobModel.Product_id.length <= 0) {
            alert("Product is required");
            return false;
        }

        if (LECreateJobModel.ServiceNo.length <= 0) {
            alert("Service No. is required");
            return false;
        }

        if (LECreateJobModel.Manuscript.length <= 0) {
            alert("Manuscript/Leg Title is required");
            return false;
        }

        if (LECreateJobModel.TargetDate.length <= 0) {
            alert("Target Press Date is required");
            return false;
        }

        if (LECreateJobModel.UpdateType_id.length <= 0) {
            alert("Update Type is required");
            return false;
        }

        $.ajax({
            url: "/LE/LEAddJob",
            data: JSON.stringify(LECreateJobModel),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {

                alert("Job Saved.")
                //$('#CreateModal').modal('hide');

                document.getElementById("closeModal").click();

                $('#n_serviceno').val(" ")
                $('#n_manucsript').val(" ")
                $('#n_targetdate').val(" ")
                $('#n_latup').val(" ")
                $('#n_datefromauthor').val(" ")
                $('#n_updatetype').val()
                $('#n_jobinstruction').val(" ")
                $('#n_copyeditdue').val(" ")
                $('#n_codingdue').val(" ")
                $('#n_onlinedue').val(" ")

                wait(8000);
                var url = '@Url.Action("LESearchJob", "LE")' + "?selectedItem=5&product=" + 0 + "&service=" + 0 + "&uid=" + @((int)Session["id"]);
                   $("#DivPlaceHolder").load(url, function (data) {
                       $('#DivPlaceHolder').html(data);
                });

                return false;
                /*ClearAllInput();*/
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
                return false;
            }
        });



    });

        $("body").on('click', '#jobsearch', function () {

        var product = $("#product").val();
        var service = $("#serviceno").val();
        var partialview = $("#JobType").val();

        if (product != '') { product = $("#product").val(); } else { product = 0; }
        if (service != '') { service = $("#serviceno").val(); } else { service = 0; }


        var url = '@Url.Action("LESearchJob", "LE")' + "?selectedItem=5&product=" + product + "&service=" + service + "&uid=" + @((int)Session["id"]);
           $("#DivPlaceHolder").load(url, function (data) {
               $('#DivPlaceHolder').html(data);
        });

        });
    });
</script>