@model IEnumerable<JobTrack_AUNZ.Models.PE.PESTPModel>
<!DOCTYPE html>
<html>
<head>
    <style>
        #divTable {
            white-space: nowrap;
            overflow-x: auto;
            transition: max-height 0.2s ease-out;
        }

        .highlight {
            background-color: #f5f5f5;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    @Styles.Render("~/css/styles.css")
    @Styles.Render("~/Content/css")

</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="card mb-4">
            <div class="card-body">
                <div style="overflow: auto; display: flex; overflow-x:auto;">
                    <table class="table-bordered table-hover" style="border-collapse: collapse; table-layout: fixed;  border: 1px solid black;">
                        <thead class="thead-light">
                            <tr>
                                <th>Action</th>
                                <th>Query</th>
                                <th style="display: none;">
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StpNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tier)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Product)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ServiceNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CurrentTask)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PathInputFiles)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SpecialInstruction)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TargetDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PressDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ConsoStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ConsoDone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FilingActualDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FilingActualDone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DummyFilingActualStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DummyFilingActualDone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DummyFilingActualStart2)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DummyFilingActualDone2)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UECJActualStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UECJActualDone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PC1PC2ActualStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PC1PC2ActualDone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PressActualDone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SendingFinal)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PostingBackStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PostingBackDone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EbinderDone)
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a class="btnEdit" href="javascript:;">Edit</a>
                                    <a class="btnUpdate" href="javascript:;" style="display:none">Update</a>
                                    <a class="btnCancel" href="javascript:;" style="display:none">Cancel</a>
                                </td>
                                <td>
                                    <a class="btnView" href="javascript:;" style="display:block">View/Create</a>
                                    <a class="btnCreate" href="javascript:;" style="display:block">Create</a>
                                </td>
                                <td class="Id" style="display: none;">
                                    <span>@Html.HiddenFor(modelItem => item.jobId)</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StpNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tier)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrentTask)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td class="PathInputFiles">
                                    <span>@item.PathInputFiles</span>
                                    <input type="text" value="@item.PathInputFiles" style="display:none" class="form-control-input" />

                                    @*@Html.DisplayFor(modelItem => item.PathInputFiles)*@
                                </td>
                                <td class="SpecialInstruction">
                                    <span>@item.SpecialInstruction</span>
                                    <input type="text" value="@item.SpecialInstruction" style="display:none" class="form-control-input" />

                                    @*@Html.DisplayFor(modelItem => item.SpecialInstruction)*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TargetDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PressDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ConsoStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ConsoDone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FilingActualDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FilingActualDone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DummyFilingActualStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DummyFilingActualDone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DummyFilingActualStart2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DummyFilingActualDone2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UECJActualStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UECJActualDone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PC1PC2ActualStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PC1PC2ActualDone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PressActualDone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SendingFinal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostingBackStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostingBackDone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EbinderDone)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

    }
</body>
</html>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        function AppendRowAfterInsertRecord(row, id, PathInputFiles, SpecialInstruction) {

            $(".id", row).find("span").html(id);

            $(".PathInputFiles", row).find("span").html(PathInputFiles);
            $(".PathInputFiles", row).find("input").val(PathInputFiles);

            $(".SpecialInstruction", row).find("span").html(SpecialInstruction);
            $(".SpecialInstruction", row).find("input").val(SpecialInstruction);

            /*  debugger;*/
            row.find(".btnEdit").show();
            row.find(".btnDelete").show();
            $("#datatable").append(row);
        };

        //Update event handler.
        $("body").on("click", "#datatable .btnUpdate", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            row.find(".btnEdit").show();
            row.find(".btnCancel").hide();
            $(this).hide();

            debugger;
            var PESTPObj = {
                jobId: row.find(".Id").find("span").html(),
                PathInputFiles: row.find(".PathInputFiles").find("span").html(),
                SpecialInstruction: row.find(".SpecialInstruction").find("span").html(),
            };

            if (!PESTPObj.jobId || PESTPObj.jobId <= 0) {
                alert("Invalid Id!");
                return false;
            }
            $.ajax({
                url: "/PE/PEUpdateJobStp",
                data: JSON.stringify(PESTPObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    alert(result);
                    ClearAllInput();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });

        //Edit event handler.
        $("body").on("click", "#datatable .btnEdit", function () {
            /*  debugger;*/
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".btnUpdate").show();
            row.find(".btnCancel").show();
            $(this).hide();
        });

        //Cancel event handler.
        $("body").on("click", "#datatable .btnCancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".btnEdit").show();
            row.find(".btnDelete").show();
            row.find(".btnUpdate").hide();
            $(this).hide();
        });
    });
</script>