@model IEnumerable<JobTrack_AUNZ.Models.PE.PEManuscriptModel>
<!DOCTYPE html>
<html>
<head>
    <style>
        #divTable {
            white-space: nowrap;
            overflow-x: auto;
            transition: max-height 0.2s ease-out;
        }

        .highlight {
            background-color: #f5f5f5;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    @Styles.Render("~/css/styles.css")
    @Styles.Render("~/Content/css")

</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="card mb-4">
            <div class="card-body">
                <div style="overflow: auto; display: flex; overflow-x:auto;">
                    <table class="table-bordered table-hover" style="border-collapse: collapse;  border: 1px solid black;">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 2.5%;"></th>
                                <th>Job Number</th>
                                <th>Tier</th>
                                <th>Product</th>
                                <th>Service No.</th>
                                <th>Target Press Date</th>
                                <th>Actual Press Date</th>
                                <th>Copyedit</th>
                                <th>Coding</th>
                                <th>Online</th>
                                <th>STP</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><span><img src="~/Images/plus.png" /></span></td>
                                    <td><span>@item.m_JobNumber</span></td>
                                    <td><span>@item.m_Tier</span></td>
                                    <td><span>@item.m_Product</span></td>
                                    <td><span>@item.m_ServiceNo</span></td>
                                    <td><span>@item.m_TargetDate</span></td>
                                    <td><span>@item.m_PressDate</span></td>
                                    <td><span>@item.m_Copyedit</span></td>
                                    <td><span>@item.m_Coding</span></td>
                                    <td><span>@item.m_Online</span></td>
                                    <td><span>@item.m_STP</span></td>
                                </tr>
                                <tr style="display:none;">
                                    <td colspan="11">
                                        <div class="accordian-body collapse" id="divTable" style="display:block;">
                                            <table class="table ChildGrid" id="datatable" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border: 1px solid black;">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Query</th>
                                                        <th>Job Number</th>
                                                        <th>Tier</th>
                                                        <th>Product</th>
                                                        <th>Service No.</th>
                                                        <th>Manuscript/Leg Title</th>
                                                        <th>Status</th>
                                                        <th>Target Press Date</th>
                                                        <th>Actual Press Date</th>
                                                        <th>Latup Attribution</th>
                                                        <th>Date Received from Author</th>
                                                        <th>Update Type</th>
                                                        <th>Job Specific Instruction</th>
                                                        <th>Task Type</th>
                                                        <th>GuideCard</th>
                                                        <th>Task Number</th>
                                                        <th>Revised Online Due Date</th>
                                                        <th>Copyedit Due Date</th>
                                                        <th>Copyedit Start</th>
                                                        <th>Copyedit Done</th>
                                                        <th>Coding Due Date</th>
                                                        <th>Coding Done</th>
                                                        <th>Online Due Date</th>
                                                        <th>Online Done</th>
                                                        <th>Est Pages</th>
                                                        <th>Actual TAT</th>
                                                        <th>Online Timeless</th>
                                                        <th>Reasosns if late</th>
                                                        <th>Coversheet No.</th>
                                                        <th>STP</th>
                                                    </tr>
                                                </thead>
                                                @foreach (var sub_item in item.PEJob)
                                                {
                                                    <tr>
                                                        <td>
                                                                @Html.ActionLink("View", "View", new { /* id=item.PrimaryKey */ }) |
                                                                @Html.ActionLink("Create", "Create", new { /* id=item.PrimaryKey */ })
                                                            </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.JobNo)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.Tier)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.Product)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.ServiceNo)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.ManuscriptTitle)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.Status)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.TargetDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.PressDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.LatupAttribution)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.DateFromAuthor)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.UpdateType)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.Instruction)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.TaskType)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.GuideCard)
                                                        </td>
                                                        <td>
                                                            <a href="#" id="TaskLink" class="" data-toggle="modal" data-id="@sub_item.Id" data-target="#CoversheetModal" data-backdrop="static" data-keyboard="false">Create Task Link</a>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.RevisedDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.CopyeditDue)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.CopyeditStart)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.CopyeditDone)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.CodingDue)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.CodingDone)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.OnlineDue)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.OnlineDone)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.EstPages)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.ActualTtat)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.OnlineTimelines)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.Reason)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.CoversheetNo)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => sub_item.Stp)
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    }
</body>
</html>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
     <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>*@
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("body").on("click", "img[src*='plus.png']", function () {
                $(this).attr("src", "/images/minus.png");
                $(this).closest('tr').toggleClass("highlight");
                $(this).closest('tr').next().show();
            });

            $("body").on("click", "img[src*='minus.png']", function () {
                $(this).attr("src", "/images/plus.png");
                $(this).closest('tr').removeClass("highlight");
                $(this).closest("tr").next().hide();
            });

        });


    })
</script>