@model IEnumerable<JobTrack_AUNZ.Models.PE.PESTPListModel>

<!DOCTYPE html>
<html>
<head>
    <style>
        #divTable {
            white-space: nowrap;
            overflow-x: auto;
            transition: max-height 0.2s ease-out;
        }

        .highlight {
            background-color: #f5f5f5;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    @Styles.Render("~/css/styles.css")
    @Styles.Render("~/Content/css")
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="card mb-4">
            <div class="card-body">
                <div style="overflow: auto; display: flex; overflow-x:auto;">
                    <table class="table-bordered table-hover" style="border-collapse: collapse;  border: 1px solid black;">
                        <thead class="thead-light ">
                            <tr>
                                <th style="width: 2.5%;">@Html.CheckBox("CheckAll", false, new { id = "select_all" })</th>
                                <th style="display: none;">
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CoversheetNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tier)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Product)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ServiceNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CurrentTask)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TargetDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PressDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CodingStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CodingDone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SubsequentPass)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OnlineStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OnlineDone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OnlineTimeless)
                                </th>
                            </tr>
                        </thead>


                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.CheckBox("CheckOne", false, new { @class = "select_one" })
                                </td>
                                <td style="display: none;">
                                    <span>@item.Product_id</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoversheetNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tier)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrentTask)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TargetDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PressDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodingStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodingDone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubsequentPass)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OnlineStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OnlineDone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OnlineTimeless)
                                </td>

                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>

    }
</body>
</html>

<script>
    $(document).ready(function () {
        $('#select_all').click(function () {
            $('.select_one').prop('checked', this.checked)
        });
    })

</script>