
<div class="modal fade" id="CoversheetModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Coversheet</h4>
                </div>
            </div>
            <div class="modal-body">
                <table style="width: 100%; border-spacing: 5px; ">
                    <tr>
                        <td><h5>* Required</h5></td>
                        <td>@Html.Hidden("task_job")</td>
                        @*<td>@Html.TextBox("task_job", null, new { @class = "form-control-input" })</td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Coversheet No.</label></td>
                        <td style="float: right;">@Html.TextBox("coversheet", null, new { @class = "form-control-input" })</td>
                        @*<td><input type="text" id="coversheet" class="form-control-input" /></td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Service no.</label></td>
                        <td style="float: right;">@Html.TextBox("serviceno", null, new { @class = "form-control-input" })</td>
                        @*<td><input type="text" id="serviceno" class="form-control-input" /></td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Task no.* </label></td>
                        <td style="float: right;">
                            @Html.TextBox("taskno", null, new { placeholder = "This text is required.", @class = "form-control-input", @data_val = "true", @data_val_required = "Task No.is required" })
                        </td>

                        @*<td><input type="text" id="taskno" data-val="true" data-val-required="the task no. field is required." class="form-control-input" /></td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Product</label></td>
                        <td style="float: right;">@Html.TextBox("product_t", null, new { @class = "form-control-input" })</td>
                        @*<td><input type="text" id="product" class="form-control-input" /></td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Editor</label></td>
                        <td style="float: right;">@Html.TextBox("editor", null, new { @class = "form-control-input" })</td>
                        @*<td><input type="text" id="editor" class="form-control-input" /></td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Charge Code*</label></td>
                        <td style="float: right;">@Html.TextBox("chargecode", null, new { @class = "form-control-input", @data_val = "true", @data_val_required = "Charge Code is required" })</td>
                        @*<td><input type="text" id="chargecode" data-val="true" data-val-required="the charge code field is required." class="form-control-input" /></td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Target Press Date</label></td>
                        <td style="float: right;">@Html.TextBox("targetdate", null, new { @class = "form-control-input" })</td>
                        @*<td><input type="text" id="targetdate" class="form-control-input" /></td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Task type</label></td>
                        <td style="float: right;">@Html.TextBox("tasktype", null, new { @class = "form-control-input" })</td>
                        @*<td><input type="text" id="tasktype" class="form-control-input" /></td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Guide Cards*</label></td>
                        <td style="float: right;">@Html.TextBox("guidecards", null, new { placeholder = "This text is required.", @class = "form-control-input", @data_val = "true", @data_val_required = "Charge Code is required" })</td>
                        @*<td><input class="check-box" data-val="true" data-val-required="the general field is required." id="general" type="checkbox" value="true"></td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Manuscipt Location/Legislation/Further Instruction</label></td>
                        <td style="float: right;">@Html.TextBox("manuscriptlocation", null, new { @class = "form-control-input" })</td>
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Update Type</label></td>
                        <td style="float: right;">@Html.TextBox("updatetype", null, new { @class = "form-control-input" })</td>
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">General</label></td>
                        <td style="float: left; padding-left: 30px;">@Html.CheckBox("general", new { placeholder = "This text is required.", @checked = "checked", @data_val = "true", @data_val_required = "Charge Code is required" })</td>
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Special Instruction</label></td>
                        <td style="float: right;">@Html.TextBox("special", null, new { @class = "form-control-input" })</td>
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Coding - Due Date</label></td>
                        <td style="float: right;">@Html.TextBox("codingdue", null, new { @class = "form-control-input" })</td>
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Xml Editing</label></td>
                        <td style="float: left; padding-left: 30px;">@Html.CheckBox("xml_t", new { @checked = "checked" })</td>
                        @*<td>@Html.CheckBox("xml_t")</td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Online - Due Date</label></td>
                        <td style="float: right;">@Html.TextBox("onlinedue", null, new { @class = "form-control-input" })</td>
                        @*<td><input type="text" id="onlinedue" class="form-control-input" /></td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Online</label></td>
                        <td style="float: left; padding-left: 30px;">@Html.CheckBox("online_t", new { @checked = "checked" })</td>
                        @*<td>@Html.CheckBox("online_t")</td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Correction - Due Date</label></td>
                        <td style="float: right;">@Html.TextBox("correctionsdue", null, new { @class = "form-control-input" })</td>
                        @*<td><input type="text" id="correctiondue" class="form-control-input" /></td>*@
                    </tr>
                    <tr>
                        <td><label class="control-label" style="font-size: 12px;">Corrections</label></td>
                        <td style="float: right;">@Html.TextBox("corrections", null, new { @class = "form-control-input" })</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="TaskSave" type="button" class="btn btn-primary" data-toggle="modal">Save</button>
                        @*<a id="TaskSave" class="bt btn-success" data-toggle="modal">Save</a>*@
                        @*<a href="#" id="TaskLink" class="" data-toggle="modal" data-target="#CoversheetModal">Create Task Link</a>*@
                        @*<input type="submit" value="create" class="btn btn-primary" data-dismiss="modal" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#taskno').blur(function () {
                var value = $(this).val();
                var strproduct = $('#product_t').val();
                var strServiceNo = $('#serviceno').val();
                var strGuide = $('#guidecards').val();
                var newValue = "";

                if (strproduct != "" || strproduct != " ") {
                    newValue = strproduct + " ";
                }

                if (strServiceNo != "" || strServiceNo != " ") {
                    newValue += strServiceNo + "_";
                }
                if (value != "" || value != " ") {
                    newValue += value + "_";
                }

                if (strGuide != "" || strGuide != " ") {
                    newValue += strGuide;
                }

                $('#coversheet').val(newValue);
            });
        });

        $(function () {
            $('#guidecards').blur(function () {
                var value = $(this).val();
                var strproduct = $('#product_t').val();
                var strServiceNo = $('#serviceno').val();
                var strTaskNo = $('#taskno').val();
                var newValue = "";

                if (strproduct != "" || strproduct != " ") {
                    newValue = strproduct + " ";
                }

                if (strServiceNo != "" || strServiceNo != " ") {
                    newValue += strServiceNo + "_";
                }

                if (strTaskNo != "" || strTaskNo != " ") {
                    newValue += strTaskNo + "_";
                }

                if (value != "" || value != " ") {
                    newValue += value;
                }

                $('#coversheet').val(newValue);
            });
        });

        $("body").on('click', '#TaskLink', function () {

            var PEManuscriptObj = { Id: $(this).attr('data-id') };

            $.ajax({
                url: "/PE/GetTask",
                data: JSON.stringify(PEManuscriptObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    ClearAllInput();

                    //$('#coversheet').val("");
                    //$('#serviceno').val("");
                    //$('#taskno').val("");
                    //$('#product_t').val("");
                    //$('#editor').val("");
                    //$('#chargecode').val("");
                    //$('#targetdate').val("");
                    //$('#tasktype').val("");
                    //$('#guidecards').val("");
                    //$('#manuscriptlocation').val("");
                    //$('#updatetype').val("");
                    //$('#general').checked = true;
                    //$('#special').val("");
                    //$('#codingdue').val("");
                    //$('#xml_t').checked = true;
                    //$('#onlinedue').val("");
                    //$('#online_t').checked = true;
                    //$('#correctionsdue').val("");
                    //$('#corrections').val("");


                    $('#coversheet').val(data[0].t_Product + " " + data[0].t_ServiceNo);
                    $('#serviceno').val(data[0].t_ServiceNo);
                    $('#task_job').val(data[0].t_jobid);
                    $('#product_t').val(data[0].t_Product);
                    $('#editor').val(data[0].t_Editor);
                    $('#chargecode').val(data[0].t_ChargeCode);
                    $('#targetdate').val(data[0].t_TargetDate);
                    $('#tasktype').val(data[0].t_TaskType);
                    $('#updatetype').val(data[0].t_UpdateType);
                    $('#codingdue').val(data[0].t_CodingDue);
                    $('#onlinedue').val(data[0].t_OnlineDue);


                    /*ClearAllInput();*/
                },
                error: function (errormessage) {
                    /* alert(errormessage.responseText);*/

                }
            });

        });

        $("body").on('click', '#TaskSave', function () {
            var PEManuscriptObj = {
                t_jobid: $('#task_job').val(),
                t_CoversheetNo: $('#coversheet').val(),
                t_ServiceNo: $('#serviceno').val(),
                t_TaskNo: $('#taskno').val(),
                t_Product: $('#product_t').val(),
                t_Editor: $('#editor').val(),
                t_ChargeCode: $('#chargecode').val(),
                t_TargetDate: $('#targetdate').val(),
                t_TaskType: $('#tasktype').val(),
                t_GuideCards: $('#guidecards').val(),
                t_ManusciptLocation: $('#manuscriptlocation').val(),
                t_UpdateType: $('#updatetype').val(),
                t_General: document.querySelector('#general').checked,
                t_specialInstruction: $('#special').val(),
                t_CodingDue: $('#codingdue').val(),
                t_XML: document.querySelector('#xml_t').checked,
                t_OnlineDue: $('#onlinedue').val(),
                t_Online: document.querySelector('#online_t').checked,
                t_CorrectionDue: $('#correctionsdue').val(),
                t_Correction: $('#corrections').val()
            };

            if (PEManuscriptObj.t_TaskNo.length <= 0) {
                alert("Task No. is required");
                return false;
            }

            if (PEManuscriptObj.t_ChargeCode.length <= 0) {
                alert("Charge Code is required");
                return false;
            }

            if (PEManuscriptObj.t_GuideCards.length <= 0) {
                alert("Guide Cards is required");
                return false;
            }



            $.ajax({
                url: "/PE/PEAddTask",
                data: JSON.stringify(PEManuscriptObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {

                    if (data == "Task No. exist") {
                        alert(data)
                    } else {
                        $('#coversheet').val("");
                        $('#serviceno').val("");
                        $('#taskno').val("");
                        $('#product_t').val("");
                        $('#editor').val("");
                        $('#chargecode').val("");
                        $('#targetdate').val("");
                        $('#tasktype').val("");
                        $('#guidecards').val("");
                        $('#manuscriptlocation').val("");
                        $('#updatetype').val("");
                        $('#general').checked = true;
                        $('#special').val("");
                        $('#codingdue').val("");
                        $('#xml_t').checked = true;
                        $('#onlinedue').val("");
                        $('#online_t').checked = true;
                        $('#correctionsdue').val("");
                        $('#corrections').val("");

                        alert(data)
                    }


                    /*ClearAllInput();*/
                },
                error: function (message) {

                    alert(message.errormessage)
                    /* alert(errormessage.responseText);*/
                }
            });



        });

    });
</script>