@{
    Layout = "~/Views/Shared/_layout.cshtml";
    if (Session["id"] == null)
    {
        Response.Redirect("~/User/Login");
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>JobTrack</title>
</head>
<body>
    @Html.Partial("~/Views/Shared/_Dashboard.cshtml")
    <h3 class="mt-4">My Job</h3>
    <hr />
    <div class="form-group">
        <table id="inputTable" style="width: 100%; padding: 5px">
            <tr>
                <td style="width: 48%; ">
                    <span style="float: left; padding-right: 10px;">
                        <label class="control-label-s col-md-99">Product</label>
                    </span>
                    <span style="float: left; padding-right: 10px;">
                        @Html.DropDownList("product", (SelectList)ViewBag.Product, "Select one...", new { @class = "form-control-input", style = "width: auto;" })
                    </span>
                    <span style="float: left;">
                        <label class="control-label-s col-md-99" style="width: 110px; font-size: 14px">Service No.</label>
                    </span>
                    <span style="float: left; padding-right: 10px;">
                        @Html.DropDownList("serviceno", (SelectList)ViewBag.Service, "Select one...", new { @class = "form-control-input", style = "width: auto;" })
                    </span>
                    <span style="float: left; padding-right: 10px;">
                        <button id="searchjob" type="button" class="btn btn-primary">Search</button>
                    </span>
                </td>
                <td>
                    <div id="divCreate" class="divCreateClass" style="display: none; float: right;">
                        @*<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#CreateStp" data-backdrop="static" data-keyboard="false" id="createStpjob">Create STP</button>*@
                    </div>
                </td>
            </tr>

        </table>
    </div>

    <div class="parent-div" style="padding-top: 15px;">
        <div id="DivPlaceHolder" class="placeHolderDiv">
            @Html.Partial("CodingSTPSTPLevel")
        </div>
    </div>
</body>
</html>


<!-- JS includes -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>



<script>
    $(document).ready(function () {
        $("body").on('click', '#searchjob', function () {
                 document.getElementById("divCreate").style.display = "block";
                var product = $("#product").val();
                var service = $("#serviceno").val();
                var partialview = $("#JobType").val();

                if (product != '') { product = $("#product").val(); } else { product = 0; }
                if (service != '') { service = $("#serviceno").val(); } else { service = 0; }


                 var url = '@Url.Action("SearchJob", "CodingSTP")' + "?selectedItem=5&product=" + product + "&service=" + service + "&uid=0";
                $("#DivPlaceHolder").load(url, function (data) {
                    $('#DivPlaceHolder').html(data);
                })

        });

    });
</script>