@model IEnumerable<JobTrack_AUNZ.Models.Query.QueryListModel>

@{
    if (Session["id"] == null)
    {
        Response.Redirect("~/User/Login");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #divTable {
            white-space: nowrap;
            overflow-x: auto;
            transition: max-height 0.2s ease-out;
        }

        .highlight {
            background-color: #f5f5f5;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    @Styles.Render("~/css/styles.css")
    @Styles.Render("~/Content/css")

</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="card mb-4">
            <div class="card-body">
                <table class="table-bordered table-hover" style="border-collapse: collapse; table-layout: fixed;  border: 1px solid black;">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 8%;">Status</th>
                            <th style="width: 10%;">Query Id</th>
                            <th>Topic Title</th>
                            <th style="width: 20%;">Date Posted</th>
                            <th style="width: 20%;">Posted By</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        { 
                        <tr>
                            <td>
                                <span>@item.Status</span>
                            </td>
                            <td>
                                <span>
                                    <a href="@Url.Action("QueryView", "Query", new { queryid = item.QueryId, jobid = item.jobId })">@item.QueryId</a>
                                </span>
                            </td>
                            <td>
                                <span>@item.Topic</span>
                            </td>
                            <td>
                                <span>@item.DatePosted</span>
                            </td>
                            <td>
                                <span>@item.PostedBy</span>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</body>
</html>
